# Data Analysis & Processing
numpy==1.24.3
pandas==2.0.2

# Machine Learning
scikit-learn==1.2.2

# Data Visualization
matplotlib==3.7.1
seaborn==0.12.2

# Time Series Analysis (for stock prediction)
yfinance==0.2.36
prophet==1.1.4

# NLP (for resume classification)
nltk==3.8.1

# Jupyter Notebooks
jupyter==1.0.0

# Utility
python-dotenv==1.0.0
